[submodule "themes/eureka"]
	path = themes/eureka
	url = https://github.com/wangchucheng/hugo-eureka.git
[submodule "public"]
	path = public
	url = https://github.com/jeongwoo-math/jeongwoo-math.github.io.git
	branch = master
